<h1>About stackse</h1>
Stackse - search engine for programming-related content. Currently it searches <a href="http://stackoverflow.com">stackoverflow</a>, <a href="http://serverfault.com">serverfault</a>,
<a href="http://superuser.com">superuser</a> and some other sites.<br />
Distinguishing feature is that any characters are searched, for example 😊. So you can easily search for "difference between >> and >>> java" and find your answer.
<br />
<h3>Technology stack</h3>
This engine (which is closed-source) is built using C#, leveldb and redis and it runs on Windows servers.
<h3>Feedback</h3>
Use <a href="https://groups.google.com/forum/#!forum/stackse">this</a> group to give feedback.