@model WebMvc.Controllers.SynonymsData
@{
    ViewBag.Title = "Synonyms";
}

<h2>Synonyms</h2>

<form action="synonyms" method="post" name="testform">
    @*<textarea style="border:solid;border-width:1px;border-color:gray;" id="Value" name="Value" cols="80" rows="50" form="testform"></textarea>*@
    @*@Html.TextAreaFor(f => f.Value)*@
    <textarea style="border:solid;border-width:1px;border-color:gray;" cols="50" id="Value" name="Value" rows="50">@Model.Value</textarea>
    @*<input type="text" value="@Model.Value" height="20" name="Value" id="Value"/>*@ 
    <input type="submit" value="Save" />
</form>
