<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net46" />
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net46" />
  <package id="StemmersNet" version="1.1.1.0" targetFramework="net46" />
  <package id="Word2vec.Tools" version="2.0.1" targetFramework="net46" />
</packages>